# EditorConfig is awesome: https://editorconfig.org

# top-most EditorConfig file
root = true

[*]
charset = utf-8
end_of_line = lf
insert_final_newline = true


[*.md]
trim_trailing_whitespace = false # markdown uses 2 trailing spaces for line-breaks
indent_style = space


[*.{xml,xsd}]
trim_trailing_whitespace = true
indent_style = space
indent_size = 4

[*.json]
trim_trailing_whitespace = true
indent_style = space
indent_size = 2

[*.{proto,textproto}]
trim_trailing_whitespace = true
indent_style = space
indent_size = 2



[*.{yml,yaml}]
trim_trailing_whitespace = true
indent_style = space
indent_size = 2



[*.sh]
trim_trailing_whitespace = true
indent_style = space
indent_size = 2

[*.java]
trim_trailing_whitespace = true
indent_style = space
indent_size = 4

[*.py]
trim_trailing_whitespace = true
indent_style = space
indent_size = 4

[*.{js,mjs,cjs}]
trim_trailing_whitespace = true
indent_style = space
indent_size = 4

[*.php]
trim_trailing_whitespace = true
indent_style = space
indent_size = 4
