<!DOCTYPE html>
{{/*

template taken from
https://github.com/pseudomuto/protoc-gen-doc/blob/master/resources/html.tmpl

*/}}
<html>
  <head>
    <title>${title}</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <meta charset="UTF-8"/>
    <meta name="twitter:card" content="summary_large_image"/>
    <meta name="twitter:site" content="@CycloneDX_Spec"/>
    <meta name="twitter:title" content="${title}"/>
    <meta name="twitter:image" content="https://cyclonedx.org/images/CycloneDX-Social-Card.png"/>
    <meta name="twitter:description" content="${title}"/>
    <meta name="description" content="${title}"/>
    <meta property="og:description" content="${title}"/>
    <meta property="og:title" content="${title}"/>
    <meta property="og:locale" content="en_US"/>
    <meta property="og:type" content="website" />
    <meta property="og:image" content="https://cyclonedx.org/images/CycloneDX-Social-Card.png" />
    <link href="/favicon.ico" rel="shortcut icon" type="image/ico" />
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/css/bootstrap.min.css" crossorigin="anonymous" />
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css" />
    <script src="https://cdnjs.cloudflare.com/ajax/libs/markdown-it/13.0.2/markdown-it.min.js" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <style>
    /* template-originals */
      body { /* removed */ }

      a {
        text-decoration: none;
        color: #567e25;
      }

      table {
        width: 100%;
        font-size: 80%;
        border-collapse: collapse;
      }

      thead {
        font-weight: 700;
        background-color: #323550;
        color: #ffffff;
      }

      tbody tr:nth-child(even) {
        background-color: #fbfbfb;
      }

      td {
        border: 1px solid #ccc;
        padding: 0.5ex 2ex;
      }

      td p {
        text-indent: 1em;
        margin: 0;
      }

      td p:nth-child(1) {
        text-indent: 0; /* No indent on first p in td */
      }

      /* Table of fields */
      .field-table td:nth-child(1) { /* Field */
        width: 10em;
      }
      .field-table td:nth-child(2) { /* Type */
        width: 10em;
      }
      .field-table td:nth-child(3) { /* Label */
        width: 6em;
      }
      .field-table td:nth-child(4) { /* Description */
        width: auto;
      }

      /* Table of extensions */
      .extension-table td:nth-child(1) { /* Extension */
        width: 10em;
      }
      .extension-table td:nth-child(2) { /* Type */
        width: 10em;
      }
      .extension-table td:nth-child(3) { /* Base */
        width: 10em;
      }
      .extension-table td:nth-child(4) { /* Number */
        width: 5em;
      }
      .extension-table td:nth-child(5) { /* Description */
        width: auto;
      }

      /* Table of enum values. */
      .enum-table td:nth-child(1) { /* Name */
        width: 10em;
      }
      .enum-table td:nth-child(2) { /* Number */
        width: 10em;
      }
      .enum-table td:nth-child(3) { /* Description */
        width: auto;
      }

      /* Table of scalar value types. */
      .scalar-value-types-table tr {
        height: 3em;
      }
    </style>
    <style>
    /* customs */
    html {
      scroll-padding-top: 110px;
    }
    body {
      font: 16px/1.5em "Helvetica Neue",Helvetica,Arial,sans-serif;
      color: #222;
      margin: 0;
      padding: 0;
    }
    .navbar {
        min-height: 90px;
        padding: 0;
    }
    .navbar-toggler-icon {
        background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 30 30'%3e%3cpath stroke='rgba%28255, 255, 255, 0.75%29' stroke-linecap='round' stroke-miterlimit='10' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e") !important;
    }
    .navbar-dark .navbar-nav>.open>a,
    .navbar-dark .navbar-nav>.open>a:focus,
    .navbar-dark .navbar-nav>.open>a:hover,
    .navbar-dark {
        background-image: linear-gradient(269.12deg, rgba(232, 52, 82, 1) 0%, rgba(136, 38, 125, 1) 51.26%, rgba(52, 57, 175, 1) 100%);
    }
    .navbar-brand, .fixed-top {
        padding: 0 30px 0 30px;
    }
    .navbar-dark .navbar-nav>li>a {
        color: #ffffff;
    }
    .site-header__logo img {
        height: 90px;
    }
    .version-selector {
        font-size: 1.2rem
    }
    .table .table-dark th {
        background-color: #323550;
        color: #ffffff;
    }
    .container {
        margin-right: auto;
        margin-left: auto;
        padding-left: 15px;
        padding-right: 15px;
    }
    .container-fluid {
        padding: 30px 30px;
    }
    .nav-sub-item > a {
        padding-left: 30px !important;
    }
    ul .dropdown-menu li {
        padding-top:  0;
        padding-bottom:  0;
    }
    .dropdown-toggle:after {
        border-left: 8px solid transparent;
        border-right: 8px solid transparent;
        border-top: 8px solid #ffffff;
        margin-left: 10px;
        vertical-align: middle;
    }
    h1, h2, h3, h4, h5, h6 {
        color: rgb(52 57 175);
    }
    h1 {
        font-size: 36px;
    }
    pre {
        padding: 5px;
    }
    a {
        color: #2157c4;
    }
    /* Accordion / Card styles matching JSON docs */
    .card {
        border-radius: 0;
        --bs-card-border-color: rgba(0, 0, 0, 0.125);
    }
    .accordion + .accordion .card {
        margin-top: -1px;
    }
    .card-header {
        padding: 0;
    }
    .card-header .btn .bi {
        display: inline-block;
        transition: .3s transform ease-in-out;
        -webkit-text-stroke: 2px;
    }
    .card-header .btn[aria-expanded="true"] .bi {
        transform: rotate(90deg);
    }
    .card-header .btn[aria-expanded="false"] .bi,
    .card-header .btn.collapsed .bi {
        transform: rotate(0deg);
    }
    .btn.btn-link {
        font-size: 18px;
        text-decoration: none;
        -webkit-box-shadow: none!important;
        box-shadow: none!important;
    }
    .btn.btn-link:link, .btn.btn-link:visited, .btn.btn-link:hover, .btn.btn-link:active {
        text-decoration: none;
    }
    .badge {
        color: #222222 !important;
        padding: .1em .4em .2em;
        margin-right: .2em;
        font-weight: normal;
        font-size: 0.9rem;
        border-radius: 0;
    }
    .badge.proto-message {
        background-color: rgba(174,206,229,0.3) !important;
        border: 1px solid #5C9CCB;
    }
    .badge.proto-enum {
        background-color: rgba(175,228,191,0.3) !important;
        border: 1px solid #73D08F;
    }
    .badge.proto-service {
        background-color: rgba(235,202,255,0.3) !important;
        border: 1px solid #DA9FFF;
    }
    .badge.proto-extension {
        background-color: rgba(255,137,29,0.3) !important;
        border: 1px solid #FF7F0B;
    }
    .badge.value-type {
        background-color: rgba(174,206,229,0.3) !important;
        border: 1px solid #5C9CCB;
    }
    .accordion div.card:only-child {
        border-bottom: 1px solid rgba(0, 0, 0, 0.125);
    }
    .site-footer__copyright {
        text-align: center;
        color: #bdbdbd;
        font-size: .875em;
        line-height: 1.8em;
        background-color: #01152F;
    }
    .site-footer__copyright a {
        color: #bdbdbd;
    }
    .site-footer {
        background-color: #f5f5f5;
        padding: 2rem 0 0.5rem 0;
    }
    .generated-by-footer {
        margin-top: 1em;
        text-align: right;
    }
    </style>
  </head>

  <body>

<!-- MEGA_MENU_HEADER -->
<div class="container-fluid" style="margin-top:110px; margin-bottom:3rem">

    <h1 id="title">${title}</h1>

    {{range .Files}}
      {{$file_name := .Name}}
      {{$file_package := .Package}}

      {{range .Messages}}
        <div class="accordion" id="accordion{{.FullName}}">
            <div class="card">
                <div class="card-header" id="heading{{.FullName}}">
                    <h2 class="mb-0">
                        <button class="btn btn-link collapsed" type="button"
                                aria-expanded="false" aria-controls="collapse{{.FullName}}">
                            <i class="bi bi-chevron-right" style="margin-right:1rem; color:grey;"></i><span class="property-name">{{.LongName}}</span> <span class="badge proto-message">Message</span>
                        </button>
                    </h2>
                </div>
                <div id="collapse{{.FullName}}" class="collapse" aria-labelledby="heading{{.FullName}}">
                    <div class="card-body ps-5">
                        {{p .Description}}

                        {{if .HasFields}}
                          <table class="field-table">
                            <thead>
                              <tr><td>Field</td><td>Type</td><td>Label</td><td>Description</td></tr>
                            </thead>
                            <tbody>
                              {{range .Fields}}
                                <tr>
                                  <td>{{.Name}}</td>
                                  <td><a href="#heading{{.FullType}}">{{.LongType}}</a></td>
                                  <td>{{.Label}}</td>
                                  <td><p>{{if (index .Options "deprecated"|default false)}}<strong>Deprecated.</strong> {{end}}{{.Description}} {{if .DefaultValue}}Default: {{.DefaultValue}}{{end}}</p></td>
                                </tr>
                              {{end}}
                            </tbody>
                          </table>

                          {{$message := .}}
                          {{- range .FieldOptions}}
                            {{$option := .}}
                            {{if eq . "validator.field" "validate.rules" }}
                            <h4>Validated Fields</h4>
                            <table>
                              <thead>
                                <tr>
                                  <td>Field</td>
                                  <td>Validations</td>
                                </tr>
                              </thead>
                              <tbody>
                              {{range $message.FieldsWithOption .}}
                                <tr>
                                  <td>{{.Name}}</td>
                                  <td>
                                    <ul>
                                    {{range (.Option $option).Rules}}
                                      <li>{{.Name}}: {{.Value}}</li>
                                    {{end}}
                                    </ul>
                                  </td>
                                </tr>
                              {{end}}
                              </tbody>
                            </table>
                            {{else}}
                            <h4>Fields with {{.}} option</h4>
                            <table>
                              <thead>
                                <tr>
                                  <td>Name</td>
                                  <td>Option</td>
                                </tr>
                              </thead>
                              <tbody>
                              {{range $message.FieldsWithOption .}}
                                <tr>
                                  <td>{{.Name}}</td>
                                  <td><p>{{ printf "%+v" (.Option $option)}}</p></td>
                                </tr>
                              {{end}}
                              </tbody>
                            </table>
                            {{end}}
                          {{end -}}
                        {{end}}

                        {{if .HasExtensions}}
                          <br>
                          <table class="extension-table">
                            <thead>
                              <tr><td>Extension</td><td>Type</td><td>Base</td><td>Number</td><td>Description</td></tr>
                            </thead>
                            <tbody>
                              {{range .Extensions}}
                                <tr>
                                  <td>{{.Name}}</td>
                                  <td><a href="#heading{{.FullType}}">{{.LongType}}</a></td>
                                  <td><a href="#heading{{.ContainingFullType}}">{{.ContainingLongType}}</a></td>
                                  <td>{{.Number}}</td>
                                  <td><p>{{.Description}}{{if .DefaultValue}} Default: {{.DefaultValue}}{{end}}</p></td>
                                </tr>
                              {{end}}
                            </tbody>
                          </table>
                        {{end}}
                    </div>
                </div>
            </div>
        </div>
      {{end}}

      {{range .Enums}}
        <div class="accordion" id="accordion{{.FullName}}">
            <div class="card">
                <div class="card-header" id="heading{{.FullName}}">
                    <h2 class="mb-0">
                        <button class="btn btn-link collapsed" type="button"
                                aria-expanded="false" aria-controls="collapse{{.FullName}}">
                            <i class="bi bi-chevron-right" style="margin-right:1rem; color:grey;"></i><span class="property-name">{{.LongName}}</span> <span class="badge proto-enum">Enum</span>
                        </button>
                    </h2>
                </div>
                <div id="collapse{{.FullName}}" class="collapse" aria-labelledby="heading{{.FullName}}">
                    <div class="card-body ps-5">
                        {{p .Description}}
                        <table class="enum-table">
                          <thead>
                            <tr><td>Name</td><td>Number</td><td>Description</td></tr>
                          </thead>
                          <tbody>
                            {{range .Values}}
                              <tr>
                                <td>{{.Name}}</td>
                                <td>{{.Number}}</td>
                                <td><p>{{.Description}}</p></td>
                              </tr>
                            {{end}}
                          </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
      {{end}}

      {{if .HasExtensions}}
        <div class="accordion" id="accordion{{$file_name}}_extensions">
            <div class="card">
                <div class="card-header" id="heading{{$file_name}}_extensions">
                    <h2 class="mb-0">
                        <button class="btn btn-link collapsed" type="button"
                                aria-expanded="false" aria-controls="collapse{{$file_name}}_extensions">
                            <i class="bi bi-chevron-right" style="margin-right:1rem; color:grey;"></i><span class="property-name">File-level Extensions</span> <span class="badge proto-extension">Extension</span>
                        </button>
                    </h2>
                </div>
                <div id="collapse{{$file_name}}_extensions" class="collapse" aria-labelledby="heading{{$file_name}}_extensions">
                    <div class="card-body ps-5">
                        <table class="extension-table">
                          <thead>
                            <tr><td>Extension</td><td>Type</td><td>Base</td><td>Number</td><td>Description</td></tr>
                          </thead>
                          <tbody>
                            {{range .Extensions}}
                              <tr>
                                <td>{{.Name}}</td>
                                <td><a href="#heading{{.FullType}}">{{.LongType}}</a></td>
                                <td><a href="#heading{{.ContainingFullType}}">{{.ContainingLongType}}</a></td>
                                <td>{{.Number}}</td>
                                <td><p>{{.Description}}{{if .DefaultValue}} Default: {{.DefaultValue}}{{end}}</p></td>
                              </tr>
                            {{end}}
                          </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
      {{end}}

      {{range .Services}}
        <div class="accordion" id="accordion{{.FullName}}">
            <div class="card">
                <div class="card-header" id="heading{{.FullName}}">
                    <h2 class="mb-0">
                        <button class="btn btn-link collapsed" type="button"
                                aria-expanded="false" aria-controls="collapse{{.FullName}}">
                            <i class="bi bi-chevron-right" style="margin-right:1rem; color:grey;"></i><span class="property-name">{{.Name}}</span> <span class="badge proto-service">Service</span>
                        </button>
                    </h2>
                </div>
                <div id="collapse{{.FullName}}" class="collapse" aria-labelledby="heading{{.FullName}}">
                    <div class="card-body ps-5">
                        {{p .Description}}
                        <table class="enum-table">
                          <thead>
                            <tr><td>Method Name</td><td>Request Type</td><td>Response Type</td><td>Description</td></tr>
                          </thead>
                          <tbody>
                            {{range .Methods}}
                              <tr>
                                <td>{{.Name}}</td>
                                <td><a href="#heading{{.RequestFullType}}">{{.RequestLongType}}</a>{{if .RequestStreaming}} stream{{end}}</td>
                                <td><a href="#heading{{.ResponseFullType}}">{{.ResponseLongType}}</a>{{if .ResponseStreaming}} stream{{end}}</td>
                                <td><p>{{.Description}}</p></td>
                              </tr>
                            {{end}}
                          </tbody>
                        </table>

                        {{$service := .}}
                        {{- range .MethodOptions}}
                          {{$option := .}}
                          {{if eq . "google.api.http"}}
                          <h4>Methods with HTTP bindings</h4>
                          <table>
                            <thead>
                              <tr>
                                <td>Method Name</td>
                                <td>Method</td>
                                <td>Pattern</td>
                                <td>Body</td>
                              </tr>
                            </thead>
                            <tbody>
                            {{range $service.MethodsWithOption .}}
                              {{$name := .Name}}
                              {{range (.Option $option).Rules}}
                              <tr>
                                <td>{{$name}}</td>
                                <td>{{.Method}}</td>
                                <td>{{.Pattern}}</td>
                                <td>{{.Body}}</td>
                              </tr>
                              {{end}}
                            {{end}}
                            </tbody>
                          </table>
                          {{else}}
                          <h4>Methods with {{.}} option</h4>
                          <table>
                            <thead>
                              <tr>
                                <td>Method Name</td>
                                <td>Option</td>
                              </tr>
                            </thead>
                            <tbody>
                            {{range $service.MethodsWithOption .}}
                              <tr>
                                <td>{{.Name}}</td>
                                <td><p>{{ printf "%+v" (.Option $option)}}</p></td>
                              </tr>
                            {{end}}
                            </tbody>
                          </table>
                          {{end}}
                        {{end -}}
                    </div>
                </div>
            </div>
        </div>
      {{end}}
    {{end}}

    <div class="accordion" id="accordionScalarValueTypes">
        <div class="card">
            <div class="card-header" id="headingScalarValueTypes">
                <h2 class="mb-0">
                    <button class="btn btn-link collapsed" type="button"
                            aria-expanded="false" aria-controls="collapseScalarValueTypes">
                        <i class="bi bi-chevron-right" style="margin-right:1rem; color:grey;"></i><span class="property-name">Scalar Value Types</span>
                    </button>
                </h2>
            </div>
            <div id="collapseScalarValueTypes" class="collapse" aria-labelledby="headingScalarValueTypes">
                <div class="card-body ps-5">
                    <table class="scalar-value-types-table">
                      <thead>
                        <tr><td>.proto Type</td><td>Notes</td><td>C++</td><td>Java</td><td>Python</td><td>Go</td><td>C#</td><td>PHP</td><td>Ruby</td></tr>
                      </thead>
                      <tbody>
                        {{range .Scalars}}
                          <tr id="{{.ProtoType}}">
                            <td>{{.ProtoType}}</td>
                            <td>{{.Notes}}</td>
                            <td>{{.CppType}}</td>
                            <td>{{.JavaType}}</td>
                            <td>{{.PythonType}}</td>
                            <td>{{.GoType}}</td>
                            <td>{{.CSharp}}</td>
                            <td>{{.PhpType}}</td>
                            <td>{{.RubyType}}</td>
                          </tr>
                        {{end}}
                      </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>

</div>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/js/bootstrap.bundle.min.js" crossorigin="anonymous"></script>
  <script>
  (function() {
    function findTarget(id) {
      var el = document.getElementById(id);
      if (el) return el;
      // Strip "heading" prefix and try bare ID (for scalar types like "string")
      if (id.indexOf('heading') === 0) {
        el = document.getElementById(id.substring(7));
        if (el) return el;
      }
      // Replace dots with underscores (for proto full names in accordion IDs)
      var safeId = id.replace(/\./g, '_').replace(/-/g, '_');
      el = document.getElementById(safeId);
      if (el) return el;
      // Try with collapse/heading prefix + safe ID
      el = document.getElementById('collapse' + safeId.replace(/^(heading|collapse)/, ''));
      if (el) return el;
      el = document.getElementById('heading' + safeId.replace(/^(heading|collapse)/, ''));
      return el;
    }

    function expandAndScroll(id) {
      var target = findTarget(id);
      if (!target) return false;
      var collapseEl = null;
      var scrollTarget = target;

      if (target.classList.contains('collapse')) {
        // Target IS a collapse element
        collapseEl = target;
        var header = collapseEl.previousElementSibling;
        if (header) scrollTarget = header;
      } else if (target.classList.contains('card-header')) {
        // Target is a card-header - expand the sibling collapse
        collapseEl = target.nextElementSibling;
        if (collapseEl && !collapseEl.classList.contains('collapse')) collapseEl = null;
        scrollTarget = target;
      } else {
        // Target is inside a collapse (e.g. scalar type <tr>)
        collapseEl = target.closest('.collapse');
      }

      if (collapseEl && !collapseEl.classList.contains('show')) {
        var instance = bootstrap.Collapse.getOrCreateInstance(collapseEl, {toggle: false});
        instance.show();
        collapseEl.addEventListener('shown.bs.collapse', function() {
          scrollTarget.scrollIntoView({behavior: 'smooth', block: 'start'});
        }, {once: true});
      } else {
        scrollTarget.scrollIntoView({behavior: 'smooth', block: 'start'});
      }
      return true;
    }

    // Handle accordion toggle via getElementById (avoids CSS selector issues with dots in IDs)
    document.addEventListener('click', function(e) {
      var btn = e.target.closest('.card-header .btn[aria-controls]');
      if (btn) {
        var targetId = btn.getAttribute('aria-controls');
        var collapseEl = document.getElementById(targetId);
        if (collapseEl) {
          var isExpanded = collapseEl.classList.contains('show');
          var instance = bootstrap.Collapse.getOrCreateInstance(collapseEl, {toggle: false});
          if (isExpanded) {
            instance.hide();
            btn.setAttribute('aria-expanded', 'false');
            btn.classList.add('collapsed');
          } else {
            instance.show();
            btn.setAttribute('aria-expanded', 'true');
            btn.classList.remove('collapsed');
          }
        }
        return;
      }

      var link = e.target.closest('a[href^="#"]');
      if (!link) return;
      var id = link.getAttribute('href').substring(1);
      if (!id) return;
      if (expandAndScroll(id)) {
        e.preventDefault();
        history.replaceState(null, null, '#' + id);
      }
    });

    window.addEventListener('DOMContentLoaded', function() {
      if (window.location.hash) {
        setTimeout(function() {
          expandAndScroll(window.location.hash.substring(1));
        }, 200);
      }
    });
  })();
  </script>
  </body>
</html>
