body {
  font: 16px/1.5em "Helvetica Neue",Helvetica,Arial,sans-serif;
  color: #222;
  margin: 0;
  padding: 0;
}
.navbar-inverse .navbar-nav>.open>a,
.navbar-inverse .navbar-nav>.open>a:focus,
.navbar-inverse .navbar-nav>.open>a:hover,
.navbar-inverse {
    background-color: #071525;
}
.navbar-brand, .navbar-fixed-top {
    padding: 0 15px 0 15px;
}
.navbar-inverse .navbar-nav>li>a {
    color: #ffffff;
}
.site-header__logo img {
    height: 50px;
}
.version-selector {
    font-size: 1.2rem
}
.container {
    margin-right: auto;
    margin-left: auto;
    padding-left: 15px;
    padding-right: 15px;
}
.container-fluid {
    padding: 15px 15px;
}
.site-footer__copyright {
    text-align: center;
    color: #bdbdbd;
    font-size: .875em;
    line-height: 1.8em;
    background-color: #01152F;
}
.site-footer__copyright a {
    color: #bdbdbd;
}
.nav-sub-item > a {
    padding-left: 30px !important;
}
h1, h2, h3, h4, h5, h6 {
    color:  #23527c;
}
h1 {
    font-size: 36px;
}
pre {
    padding: 5px;
}
ul .dropdown-menu li {
    padding-top:  0;
    padding-bottom:  0;
}
.dropdown-toggle:after {
    border-left: 8px solid transparent;
    border-right: 8px solid transparent;
    border-top: 8px solid #ffffff;
    margin-left: 10px;
    vertical-align: middle;
}
.card {
    border-radius: 0;
}
.card-header {
    padding: 0;
}
.card-header .fa {
  transition: .3s transform ease-in-out;
  transform: rotate(90deg);
}
.card-header .collapsed .fa {
  transform: rotate(0deg);
}
.btn.btn-link {
    font-size: 18px;
    text-decoration: none;
    -webkit-box-shadow: none!important;
    box-shadow: none!important;

}
.btn.btn-link:link, .btn.btn-link:visited, .btn.btn-link:hover, .btn.btn-link:active { 
    text-decoration: none; 
}
.jsfh-animated-property {
    animation: eclair;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
    animation-duration: .75s;
}
@keyframes eclair {
    0%,100% {
        transform: scale(1);
    }
    50% {
        transform: scale(1.03);
    }
}
.btn.btn-primary {
    margin: 10px;
}
.btn.example-show.collapsed:before {
    content: "show"
}

.btn.example-show:before {
    content: "hide"
}
.description.collapse:not(.show) {
    max-height: 100px !important;
    overflow: hidden;

    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
}
.description.collapsing {
    min-height: 100px !important;
}
.collapse-description-link.collapsed:after  {
    content: '+ Read More';
}
.collapse-description-link:not(.collapsed):after {
    content: '- Read Less';
}
.badge {
  color: #222222;
  padding: .1em .4em .2em;
  margin-right: .2em;
  font-weight: normal;
  font-size: 0.9rem;
  border-radius: 0;
}
.badge.required-property {
  background-color: rgba(255,137,29,0.3);
  border: 1px solid #FF7F0B;
}
.badge.value-type {
  background-color: rgba(174,206,229,0.3);
  border: 1px solid #5C9CCB;
}
.badge.default-value {
  background-color: rgba(175,228,191,0.3);
  border: 1px solid #73D08F;
}
.badge.example {
  background-color: rgba(235,202,255,0.3);
  border: 1px solid #DA9FFF;
}
.badge.deprecated-property {
  background-color: rgba(255,95,95,0.3);
  border: 1px solid #FF3333;
}
.badge.no-additional {
  background-color: rgba(255,82,174,0.3);
  border: 1px solid #FF33A0;
}
.badge.pattern-property {
  background-color: rgba(235,229,168,0.3);
  border: 1px solid #FFEA1C;
}
.accordion div.card:only-child {
    border-bottom: 1px solid rgba(0, 0, 0, 0.125);
}
.examples {
	padding: 1rem !important;
}
.examples pre {
    margin-bottom: 0;
}
.highlight.jumbotron {
    padding: 1rem !important;
}
.generated-by-footer {
    margin-top: 1em;
    text-align: right;
}
.site-footer {
    background-color: #f5f5f5;
    padding: 2rem 0 0.5rem 0;
}

/* From https://github.com/richleland/pygments-css/blob/master/friendly.css, see https://github.com/trentm/python-markdown2/wiki/fenced-code-blocks */
.highlight  { background: #e9ecef; } /* Changed from #f0f0f0 in the original style to be the same as bootstrap's jumbotron */
.highlight .hll { background-color: #ffffcc }
.highlight .c { color: #60a0b0; font-style: italic } /* Comment */
.highlight .err { border: 1px solid #FF0000 } /* Error */
.highlight .k { color: #007020; font-weight: bold } /* Keyword */
.highlight .o { color: #666666 } /* Operator */
.highlight .ch { color: #60a0b0; font-style: italic } /* Comment.Hashbang */
.highlight .cm { color: #60a0b0; font-style: italic } /* Comment.Multiline */
.highlight .cp { color: #007020 } /* Comment.Preproc */
.highlight .cpf { color: #60a0b0; font-style: italic } /* Comment.PreprocFile */
.highlight .c1 { color: #60a0b0; font-style: italic } /* Comment.Single */
.highlight .cs { color: #60a0b0; background-color: #fff0f0 } /* Comment.Special */
.highlight .gd { color: #A00000 } /* Generic.Deleted */
.highlight .ge { font-style: italic } /* Generic.Emph */
.highlight .gr { color: #FF0000 } /* Generic.Error */
.highlight .gh { color: #000080; font-weight: bold } /* Generic.Heading */
.highlight .gi { color: #00A000 } /* Generic.Inserted */
.highlight .go { color: #888888 } /* Generic.Output */
.highlight .gp { color: #c65d09; font-weight: bold } /* Generic.Prompt */
.highlight .gs { font-weight: bold } /* Generic.Strong */
.highlight .gu { color: #800080; font-weight: bold } /* Generic.Subheading */
.highlight .gt { color: #0044DD } /* Generic.Traceback */
.highlight .kc { color: #007020; font-weight: bold } /* Keyword.Constant */
.highlight .kd { color: #007020; font-weight: bold } /* Keyword.Declaration */
.highlight .kn { color: #007020; font-weight: bold } /* Keyword.Namespace */
.highlight .kp { color: #007020 } /* Keyword.Pseudo */
.highlight .kr { color: #007020; font-weight: bold } /* Keyword.Reserved */
.highlight .kt { color: #902000 } /* Keyword.Type */
.highlight .m { color: #40a070 } /* Literal.Number */
.highlight .s { color: #4070a0 } /* Literal.String */
.highlight .na { color: #4070a0 } /* Name.Attribute */
.highlight .nb { color: #007020 } /* Name.Builtin */
.highlight .nc { color: #0e84b5; font-weight: bold } /* Name.Class */
.highlight .no { color: #60add5 } /* Name.Constant */
.highlight .nd { color: #555555; font-weight: bold } /* Name.Decorator */
.highlight .ni { color: #d55537; font-weight: bold } /* Name.Entity */
.highlight .ne { color: #007020 } /* Name.Exception */
.highlight .nf { color: #06287e } /* Name.Function */
.highlight .nl { color: #002070; font-weight: bold } /* Name.Label */
.highlight .nn { color: #0e84b5; font-weight: bold } /* Name.Namespace */
.highlight .nt { color: #062873; font-weight: bold } /* Name.Tag */
.highlight .nv { color: #bb60d5 } /* Name.Variable */
.highlight .ow { color: #007020; font-weight: bold } /* Operator.Word */
.highlight .w { color: #bbbbbb } /* Text.Whitespace */
.highlight .mb { color: #40a070 } /* Literal.Number.Bin */
.highlight .mf { color: #40a070 } /* Literal.Number.Float */
.highlight .mh { color: #40a070 } /* Literal.Number.Hex */
.highlight .mi { color: #40a070 } /* Literal.Number.Integer */
.highlight .mo { color: #40a070 } /* Literal.Number.Oct */
.highlight .sa { color: #4070a0 } /* Literal.String.Affix */
.highlight .sb { color: #4070a0 } /* Literal.String.Backtick */
.highlight .sc { color: #4070a0 } /* Literal.String.Char */
.highlight .dl { color: #4070a0 } /* Literal.String.Delimiter */
.highlight .sd { color: #4070a0; font-style: italic } /* Literal.String.Doc */
.highlight .s2 { color: #4070a0 } /* Literal.String.Double */
.highlight .se { color: #4070a0; font-weight: bold } /* Literal.String.Escape */
.highlight .sh { color: #4070a0 } /* Literal.String.Heredoc */
.highlight .si { color: #70a0d0; font-style: italic } /* Literal.String.Interpol */
.highlight .sx { color: #c65d09 } /* Literal.String.Other */
.highlight .sr { color: #235388 } /* Literal.String.Regex */
.highlight .s1 { color: #4070a0 } /* Literal.String.Single */
.highlight .ss { color: #517918 } /* Literal.String.Symbol */
.highlight .bp { color: #007020 } /* Name.Builtin.Pseudo */
.highlight .fm { color: #06287e } /* Name.Function.Magic */
.highlight .vc { color: #bb60d5 } /* Name.Variable.Class */
.highlight .vg { color: #bb60d5 } /* Name.Variable.Global */
.highlight .vi { color: #bb60d5 } /* Name.Variable.Instance */
.highlight .vm { color: #bb60d5 } /* Name.Variable.Magic */
.highlight .il { color: #40a070 } /* Literal.Number.Integer.Long */