# docs: https://docs.github.com/en/actions/reference/workflow-syntax-for-github-actions

name: CT JavaScript

on:
  push:
    branches: ['master', 'main']
  pull_request:
  workflow_dispatch:

concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: true

defaults:
  run:
    working-directory: tools/src/test/js

# https://docs.github.com/en/actions/writing-workflows/choosing-what-your-workflow-does/controlling-permissions-for-github_token
permissions: {}

jobs:
  test:
    timeout-minutes: 30
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        # see https://github.com/actions/checkout
        uses: actions/checkout@v5
      - name: Setup Node.js
        # see https://github.com/actions/setup-node
        uses: actions/setup-node@v5
        with:
          node-version: '20.x'
      - name: Install Depenencies
        run: npm install
      - name: Run test 
        run: npm test
